{% extends 'base.html' %}
{% block script %}
    {% load static %}
    <script src="{% static 'js/mood.js' %}"></script>
{% endblock %}

{% block title %} {{ title }} {% endblock %}

{% block main %}
    <div class="row" message_text="{{ message }}" hidden id="message"><h3>"{{ message }}"</h3></div>
    <p>Select images:</p>
    <div class="d-md-inline-flex mood-images">

        {% for mood_image in object_list %}
            <div class="card m-1" style="width: 18rem;">
                <div class="card-body">

                    {% if mood_image.image %}
                        <img src="{% url 'photo_app:image_get' mood_image.image.id %}" class="mx-auto d-block mood-image"
                             width="200px" img_id="{{ mood_image.id }}">
                    {% elif mood_image.reference_image %}
                        <img class="mx-auto d-block mood-image" img_id="{{ mood_image.id }}"
                                 src="{% url 'reference:image_get' mood_image.reference_image.id %}" width="200px">
                    {% endif %}
                </div>

                <div class="card-body d-flex justify-content-around align-items-end">
                    {{ mood_image.comment }}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row mx-auto" id="selected-image"></div>
    {% if form %}
        <a href="{% url 'reference:mood_image' %}" class="btn btn-primary">Add Image</a>
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="col">
                {{ form.as_p }}
            </div>

            <input type="submit" value="Submit">
        </form>
    {% endif %}
{% endblock %}
