{% extends 'base.html' %}
{% block script %}
    {% load static %}
    <script src="{% static 'js/mood.js' %}"></script>
{% endblock %}

{% block title %} {{ title }} {% endblock %}

{% block main %}
    <div class="row" message_text="{{ message }}" hidden id="message"><h3>"{{ message }}"</h3></div>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        {% for mood_image in object_list %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                {% if mood_image.image %}
                    <img src="{% url 'photo_app:image_get' mood_image.image.id %}"  class="mx-auto d-block img-carousel">
                {% elif mood_image.reference_image %}
                    <img class="mx-auto d-block img-carousel"
                                 src="{% url 'reference:image_get' mood_image.reference_image.id %}">
                {% endif %}
            </div>
        {% endfor %}

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="row" id="mood-images-div">
        {% if object_list %}
            {% for mood_image in object_list %}
                <div class="col border mx-auto">
                    <div class="mood-image" img_id="{{ mood_image.id }}">
                        {% if mood_image.image %}
                            <img class="m-2 img-fluid"
                                 src="{% url 'photo_app:image_get' mood_image.image.id %}">
                        {% elif mood_image.reference_image %}
                            <img class="rounded m-2 img-thumbnail img-fluid"
                                 src="{% url 'reference:image_get' mood_image.reference_image.id %}">
                        {% endif %}
                        <p>{{ mood_image.comment }}</p>
                    </div>
                    {% if form %}
                        <a href="{% url 'reference:mood_image' mood_image.id %}" class="btn btn-primary">Edit</a>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <p id="no-image">There are no images.</p>
        {% endif %}
    </div>
    <div class="row mx-auto" id="selected-image"></div>
    {% if form %}
        <a href="{% url 'reference:mood_image' %}" class="btn btn-primary">Add Image</a>
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="col">
                {{ form.as_p }}
            </div>

            <input type="submit" value="Submit">
        </form>
    {% endif %}
{% endblock %}
