{% extends 'base.html' %}
{% block script %}
    {% load static %}
    <script src="{% static 'js/mood.js' %}"></script>
{% endblock %}
{% block title %} {{ title }} {% endblock %}

{% block main %}
    <div class="row" message_text="{{ message }}" hidden id="message"><h3>"{{ message }}"</h3></div>

    <div class="row mx-auto"><h3>Mood Image Form</h3></div>

    <div class="row" id="reference-images-div">
        <input type="hidden" id="id_image_base_url" value="{% url 'photo_app:image' %}">
        <input type="hidden" id="id_thumb_base_url" value="{% url 'photo_app:thumb' %}">
        {% if reference_images %}
            {% for image in reference_images %}
              <div class="col border mx-auto">
                    <img class="rounded img-fluid float-end imgshadow m-2 reference-image" img_id="{{ image.id }}"
                         src="{% url 'reference:image_get' image.id %}">
              </div>
            {% endfor %}
        {% else %}
        <p id="no-image">There are no images.</p>
        {% endif %}
    </div>
    <div id="gallery-list">
        Galleries
        <div class="row">
            {% if galleries %}
                {% for gallery in galleries %}
                    <div class="col border mx-auto gallery" url="{% url 'photo_app:gallery_insert_view' gallery.id %}">
                        {% if gallery.display_image %}
                            <img src="{% url 'photo_app:thumb' gallery.display_image.id %}"><br/>
                        {% endif %}
                        {{ gallery.name }}
                    </div>
                {% endfor %}
            {% else %}
                <p id="no-gallery">There are no galleries.</p>
            {% endif %}
        </div>
    </div>
    <div id="gallery-images" class="row"></div>
    <div class="row mx-auto" id="selected-image"></div>
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="row" id="image-input-div">
            {{ form.image.label }}{{ form.image }}
        </div>
        <div class="row" id="reference-image-input-div">
            {{ form.reference_image.label }}{{ form.reference_image }}
        </div>
        <div class="row" id="comment-input-div">
            {{ form.comment.label }}{{ form.comment }}
        </div>
        <input type="submit" value="Submit">
    </form>

{% endblock %}
