{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block main %}
    <div class="row" message_text="{{ message }}" hidden id="message"><h3>"{{ message }}"</h3></div>
    <div class="row">
        <form class="col" method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>

        <div class="col">
            {% if form.instance.id %}
                <img class="rounded img-fluid float-end imgshadow m-2" src="{% url 'reference:image_get' form.instance.id %}">
            {% endif %}
        </div>
    </div>
{% endblock %}
