{% extends 'base.html' %}

{% block title %} About Me {% endblock %}

{% block main %}
  <div class="row justify-content-center">
    <div class="col-4 text-center"><h2> About Me </h2></div>
  </div>

    <p>
      I am taking up photography as a hobby and wanting to do some photo shoots with people. I enjoy the nice weather
      and natural light so I currently only do outdoor shoots.
    </p>
    <h5>Shooting</h5>
    <p class="ml-4">
      I seek to obtain a collaborative environment where we can be creative together. I want to go through the images
      with the model to decide what images to keep.
    </p>
    <h5>Editing</h5>
    <p class="ml-4">
      I think that what some may consider as imperfections are what makes us different from everybody else. I don't
      think that things like freckles, moles and birth marks are things to 'Photoshop' away. On the other hand things
      like noise, bug bites, and zits are.
    </p>
    <p>
      Please let me know if you have creative ideas that you are wanting to do together. You can
      <a href="mailto:{{ email }}">email</a> me at {{ email }}
    </p>

    <button class="btn btn-primary" onclick="goBack()">Go Back</button>

    <script>
    function goBack() {
      window.history.back();
    }
    </script>
{% endblock %}
