{% extends 'base.html' %}
{% block script %}
    {% load static %}
    <script src="{% static 'js/gallery.js' %}"></script>
{% endblock %}
{% block title %}
    Gallery List
{% endblock %}

{% block main %}

<!--{'images': images, 'gallery_path': gallery_path, 'child_galleries': child_galleries})-->
  {% load static %}
    <div class="row">
      <div class="col">
        <h2 align="center">{{ gallery.directory }}</h2>
      </div>
    </div>
    <div class="row">
       <div class="mx-auto">
        <form id="image-form" action="{% url 'photo_app:image_upload'%}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="hidden" name="gallery" value="{{ gallery.id }}">
            <input type="submit" value="Submit" >

        </form>
      </div>
    </div>

    {% if images %}
      <div class="row">
        {% for image in images%}
          <div class="col border mx-auto">
            <a target="_blank" href="{{ image.image.url }}">
              <img width="{{ image.thumb_width }}px" src="{{ image.image.url }}"><br/>
                {{ image.width }} x {{ image.height }}
            </a>
          </div>
        {% endfor %}
      </div>


  {% else %}
    <p>There are no images.</p>
  {% endif %}
{% endblock %}

