{% extends 'base.html' %}
{% block script %}
    {% load static %}
    <script src="{% static 'js/gallery.js' %}"></script>
{% endblock %}
{% block title %}
    Gallery
{% endblock %}

{% block main %}

  {% load static %}
    <div class="row">
      <div class="col">
        <h2 align="center">{{ gallery.name }}</h2>
      </div>
    </div>
    {% if owner %}
        <div class="row">
           <div class="mx-auto">
            <form id="image-form" action="" method="post" role="form" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <input type="hidden" id="id_gallery" value="{{ gallery.id }}">
                <input type="hidden" id="id_form_url" value="{% url 'photo_app:gallery_form' %}">
                <input type="submit" id="btn-image" value="Submit" >

            </form>
          </div>
        </div>
    {% endif %}

    <div class="row" id="images-div">
        <input type="hidden" id="id_image_base_url" value="{% url 'photo_app:image' %}">
        {% if images %}
            {% for image in images %}
              <div class="col border mx-auto">
                <a target="_blank" href="{% url 'photo_app:image' image.id %}">
                    <img src="{{ image.thumb.url }}"><br/>
                    {{ image.filename }}
                </a>
              </div>
            {% endfor %}
        {% else %}
        <p id="no-image">There are no images.</p>
        {% endif %}
    </div>

    <div class="row pt-3">
      <div class="col">
        <h4>Description</h4>
      </div>
    </div>
    <div class="row px-5">{{ gallery.description }}</div>
    {% if models %}
        <div class="row pt-3">
          <div class="col">
            <h4>Models</h4>
          </div>
        </div>
        <div class="row">
            <div class="col px-5">
                {% for model in models %}
                    <div class="row px-3">
                        <h5>{{ model.name }}</h5>
                    </div>

                    <div class="row px-3">
                    {% for link in model.links %}
                        <div class="col-2">
                            <a class="px-3" href="{{ link.url }}">{{ link.category.category }}</a>
                        </div>
                    {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="row p-3"><hr/></div>
    {% if owner %}
        <div class="row ">
            <button id="btn-gallery-edit" class="btn btn-primary" type="button" name="button">
                Edit Gallery
            </button>
        </div>
        <div id="div-add-gallery"></div>
    {% endif %}
{% endblock %}

{% block right %}

{% endblock right %}