{% extends 'base.html' %}
{% block script %}
    {% load static %}
    <script src="{% static 'js/gallery.js' %}"></script>
    <script>
        let url_gallery_form = "{% url 'photo_app:gallery_form' gallery.id %}";
        let url_image_upload = "{% url 'photo_app:image_upload' gallery.id %}";
        let gallery_id = {{ gallery.id }};
    </script>
{% endblock %}
{% block title %}
    Gallery
{% endblock %}

{% block main %}

    <div class="row">
      <div class="col">
        <h2 align="center">{{ gallery.name }}</h2>
      </div>
    </div>

    <div class="row" id="images-div">
        <input type="hidden" id="id_image_base_url" value="{% url 'photo_app:image' %}">
        <input type="hidden" id="id_thumb_base_url" value="{% url 'photo_app:thumb' %}">
        {% if images %}
            {% for image in images %}
              <div class="col border mx-auto">
                <a target="_blank" href="{% url 'photo_app:image' image.id %}">
                    <img src="{% url 'photo_app:thumb' image.id %}"><br/>
                    {{ image.filename }}
                </a>&nbsp;&nbsp;&nbsp;
                <a class="pr-4" href="{% url 'photo_app:image_get' image.id %}" download="">
                    <img src="{% static 'images/icons8-download-48.png' %}" width="24" height="24" alt="Download">
                </a>
                <br/>{{ image.privacy_level|capfirst }}
              </div>
            {% endfor %}
        {% else %}
        <p id="no-image">There are no images.</p>
        {% endif %}
    </div>
    {% if owner %}
        <div class="row pt-1">
            <a href="{% url 'photo:add_image' gallery.id %}" class="btn btn-primary" role="button">
                Add Image
            </a>
        </div>
    {% endif %}
    <div class="row pt-3">
      <div class="col">
        <h4>Description</h4>
      </div>
    </div>
    <div class="row px-5">{{ gallery.description }}</div>
    {% if models %}
        <div class="row pt-3">
          <div class="col">
            <h4>Models</h4>
          </div>
        </div>
        <div class="row">
            <div class="col px-5">
                {% for model in models %}
                    <div class="row px-3">
                        <h5>{{ model.name }}</h5>
                    </div>

                    <div class="row px-3">
                    {% for link in model.links %}
                        <div class="col-2">
                            <a class="px-3" href="{{ link.url }}">{{ link.category.category }}</a>
                        </div>
                    {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="row p-3"><hr/></div>
    {% if owner %}
        <div class="row ">
            <button id="btn-gallery-edit" class="btn btn-primary" type="button" name="button">
                Edit Gallery
            </button>
        </div>
        <div id="div-add-gallery"></div>
    {% endif %}
{% endblock %}

{% block right %}

{% endblock right %}