{% load static %}
{% if object_list %}
    {% for image in object_list %}

        <div class="card text-bg-dark mb-3" style="width: 18rem;" data-bs-toggle="popover" title="{{image.filename}}">
            {% if image_link %}
<!--                <a target="_blank" href="{% url 'photo_app:image' image.id %}" role="button">-->
                <button type="button" class="btn img-btn" data-bs-toggle="modal" data-bs-target="#imageModal" img_id="{{ image.id }}">
            {% endif %}
            <img class="card-img-top" src="{% url 'photo_app:thumb' image.id %}" img_id="{{ image.id }}">
            {% if image_link %}
<!--                </a>-->
                </button>
            {% endif %}
          <div class="card-body">

            <p class="card-text">Privacy Level: {{ image.privacy_level|capfirst }}</p>
            <button class="btn btn-outline-primary btn-sm carousel-btn m-1" type="button" name="button"
                    img_id="{{ image.id }}" carousel="{{ image.carousel }}">
                {% if image.carousel %} Remove from Carousel {% else %} Add to Carousel {% endif %}
            </button>
              {% if image_link %}
                  <p>
                    <a target="_blank" href="{% url 'photo_app:image' image.id %}">Image and Details</a>
                  </p>
              {% endif %}
          </div>
        </div>

    {% endfor %}

{% else %}
    <p id="no-image">There are no images.</p>
{% endif %}
