<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% load static %}

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <link rel="shortcut icon" type="image/png" href="{% static 'images/target2.png' %}"/>


        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/image.js' %}"></script>
        <script>
            let url_image_comment = "{% url 'photo_app:image_comment' image.id %}";
        </script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">


        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Photo: Image</title>

    </head>
    <body class="bg-dark text-white">
        {% include "nav.html" %}
        <div class="container" >

            <input type="hidden" id="alert-message" value="{{ alert_message }}">

                   <a target="_blank" href="{% url 'photo_app:image_get' image.id %}">
                    <img src="{% url 'photo_app:image_get' image.id %}" alt="{{ image.image.url }}" class="img-fluid m-3">
                   </a>
            <div class="row d-flex justify-content-between">
                {% if prev_image %}
                    <a href="{% url 'photo:image' prev_image.id %}" class="btn btn-primary" role="button">
                        Previous Image
                    </a>
                {% endif %}
                {% if next_image %}
                    <a href="{% url 'photo:image' next_image.id %}" class="btn btn-primary" role="button">
                        Next Image
                    </a>
                {% endif %}
            <div class="row">
                <div class="col bg-dark text-white border-right" id="block-info">
                    <h6>Image Info</h6>
                    <p>Gallery: {{ image.gallery.name }}</p>
                    <p>Gallery Privacy: {{ image.gallery.privacy_level|capfirst }}</p>
                    <p>Privacy: {{image.privacy_level|capfirst }}</p>
                    {% for key, values in image_data.items %}
                        <p>{{ key }}: {{ values }}</p>
                    {% endfor %}
                    <p>
                        <a class="pr-4" href="{% url 'photo_app:image_get' image.id %}" download="">
                            <img src="{% static 'images/icons8-download-48.png' %}" width="24" height="24" alt="Download">
                            Download
                        </a>
                    </p>
                    {% if user.is_staff %}
                        <hr>
                        <form id="image-form" action="{% url 'photo:image_update' image.id %}"
                              method="post" role="form" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form }}
                            <input type="hidden" id="id_gallery" value="{{ gallery.id }}">
                            <input type="hidden" id="id_form_url" value="{% url 'photo_app:gallery_form' %}">
                            <input type="submit" id="btn-image" value="Submit" >

                        </form>
                    {% endif %}
                </div>
                <div class="col bg-dark text-white">
                    <div id="div-image-comment"></div>
                </div>
            </div>
        </div>

        <footer class="small text-center text-muted">
        </footer>

    </body>
</html>

