<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8">
        {% load static %}

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/jquery.cookie-consent/dist/jquery.cookie-consent.min.js"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/image.js' %}"></script>
        <script>
            let url_image_comment = "{% url 'photo_app:image_comment' image.id %}";
        </script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">


        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Photo: Image</title>

    </head>
    <body>
        {% include "nav.html" %}
        <div class="container" >

            <input type="hidden" id="alert-message" value="{{ alert_message }}">

                   <a target="_blank" href="{% url 'photo_app:image_get' image.id %}">
                    <img src="{% url 'photo_app:image_get' image.id %}" alt="{{ image.image.url }}" class="img-fluid m-3">
                   </a>
            <div class="d-flex flex-row justify-content-between">
                {% if prev_image %}
                    <a href="{% url 'photo:image' prev_image.id %}">
                        Previous Image
                    </a>
                {% endif %}
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#infoModal"> Info </button>
                {% if next_image %}
                    <a href="{% url 'photo:image' next_image.id %}">
                        Next Image
                    </a>
                {% endif %}
            </div>
            <div class="row">
                <div class="col border-right" id="block-info">

                    <div class="d-flex justify-content-between">
                        <a class="pr-4" href="{% url 'photo_app:image_get' image.id %}" download="">
                            <img src="{% static 'images/icons8-download-48.png' %}" width="24" height="24" alt="Download">
                            Download
                        </a>
                        <a class="pr-4" href="{% url 'photo_app:download_instagram' image.id %}" download="">
                            <img src="{% static 'images/icons8-download-48.png' %}" width="24" height="24" alt="Download">
                            Instagram Download
                        </a>
                    </div>
                    {% if user.is_staff %}
                        <hr>
                        <form id="image-form" action="{% url 'photo:image_update' image.id %}"
                              method="post" role="form" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form }}
                            <input type="hidden" id="id_gallery" value="{{ gallery.id }}">
                            <input type="hidden" id="id_form_url" value="{% url 'photo_app:gallery_form' %}">
                            <input type="submit" id="btn-image" value="Submit" >

                        </form>
                    {% endif %}
                </div>
                <div class="col">
                    <div id="div-image-comment"></div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade modal-xl" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="infoModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                    <h6>Image Info</h6>
                    <p>Gallery: {{ image.gallery.name }}</p>
                    <p>Gallery Privacy: {{ image.gallery.privacy_level|capfirst }}</p>
                    <p>Privacy: {{image.privacy_level|capfirst }}</p>
                    {% for key, values in image_data.items %}
                        <p>{{ key }}: {{ values }}</p>
                    {% endfor %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <footer class="small text-center text-muted">
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>

