<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% load static %}

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <link rel="shortcut icon" type="image/png" href="{% static 'images/target2.png' %}"/>


        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="{% static 'js/main.js' %}"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">


        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


        <title>Photo: Image</title>

    </head>
    <body class="bg-dark text-white">
        {% include "nav.html" %}
        <div class="container-fluid p-4 m-3" >

            <input type="hidden" id="alert-message" value="{{ alert_message }}">
            <div class="row">
                <div class="col-md bg-dark text-white" id="block-main">
                    <div class="row">
                       <div class="mx-auto">
                           <a target="_blank" href="{{ image.image.url }}">
                            <img src="{{ image.image.url }}" alt="{{ image.image.url }}" class="img-fluid">
                           </a>
                      </div>
                    </div>

                </div>
                <div class="col-md-2" id="block-right">
                    {% for key, values in image_data.items %}
                        <p>{{ key }}: {{ values }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <footer class="small text-center text-muted">
        </footer>

    </body>
</html>

