{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block script %}
    {% load static %}

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{% static 'js/jquery.ui.touch-punch.js' %}"></script>

    <link type="text/css" href="{% static 'css/jquery.signature.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/jquery.signature.js' %}"></script>
    <script src="{% static 'js/release.js' %}"></script>
    <script>
        let signature_required = {{form.signature|lower}}
        {% if form.instance.id %}
            let url_template = "{% url 'photo:release_preview' form.instance.id %}"
            let url_release_update = "{% url 'photo:model_release_update' form.instance.id %}"
        {% else %}
            let url_template = "{% url 'photo:release_preview'%}"
            let url_release_update = "{% url 'photo:model_release_update'%}"
        {% endif %}
    </script>
    <style>
        .kbw-signature { width: 400px; height: 200px; }
    </style>
{% endblock %}

{% block main %}
    <div class="row" message_text="{{ message }}" hidden id="message"><h3>"{{ message }}"</h3></div>
    <form method="post" autocomplete="off" class="form" id="model-release" enctype="multipart/form-data">

        <div class="row p-2 hidden-print d-print-none">
            <div class="col">
                <div class="row">
                    Updating the these choices will update the agreement below. Then click submit to save the changes.
                </div>
                <div class="row p-3">
                    <div class="col">
                        {% csrf_token %}
                        {{form.as_p}}
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row p-2">
            <div class="col" id="template-view"></div>
        </div>
        <div class="row p-2">
            <div class="col">
                {% if form.signature %}
                <p>Signature:</p>
                <p class="ml-5" id="sig"></p>
                {% endif %}
                <p class="ml-5">
                    <button class="btn btn-primary" id="btn-submit" type="submit">Submit</button>
                    {% if form.signature %}
                        <button class="btn btn-primary" id="clear">Clear</button>
                    {% endif %}
                </p>
            </div>
        </div>

    </form>
{% endblock %}
