<button id="btn-image-privacy" class="btn btn-primary" type="button" name="button">
    Show Privacy Info
</button>
<div id="div_image_privacy">
    <p>There three privacy levels for galleries and 2 privacy levels for images. </p>
    <table class="table text-white">
        <tr>
            <th rowspan="2" colspan="2" class="border-0"></th>
            <th colspan="3" class="border text-center"> Gallery </th>
        </tr>
        <tr>
            <th class="border text-center">Private</th>
            <th class="border text-center">Authenticated</th>
            <th class="border text-center">Public</th>
        </tr>
        <tr>
            <th rowspan="2" class="border text-center"> Image </th>
            <th class="border text-center">Private</th>
            <td colspan="3" class="border text-center">Photographer and model(s) only.</td>

        </tr>
        <tr>
            <th class="border text-center">Public</th>
            <td class="border text-center">Photographer and model(s) only.</td>
            <td class="border text-center">Singed in users</td>
            <td class="border text-center">Everybody</td>
        </tr>
    </table>
</div>