{% extends 'base.html' %}

{% block title %} Profile {% endblock %}
{% block script %}
    {% load static %}
    <script src="{% static 'js/profile.js' %}"></script>
{% endblock %}

{% block main %}
    <div class="row p-2 align-items-center mx-auto">
        <div class="col-12">
            <h2> Profile Page </h2>
        </div>
    </div>

    <div class="row px-2 align-items-center mx-auto">
        <div class="col-12">
            <h3 id="model-name"> {{ user.first_name }} {{ user.last_name }} </h3>
        </div>
    </div>
    <div class="row px-3 align-items-center mx-auto">
        <div class="col-12">
            <h4> Address </h4>
        </div>
    </div>
    <div id="profile-form-div" class="row px-3">
        {% include "photo_app/forms/profile_form.html" %}
    </div>
    <div id="profile-address" class="row px-3">
        <div class="col-1"></div>
        <div class="col">
            <div id="address1" class="row">{{ user.street }} </div>
            <div id="address2" class="row">
                {{ user.city }} {{ user.state }} {{ user.post_code }}
            </div>
            <div id="phone" class="row">{{ user.phone }}</div>
            <div class="row">
                <button id="btn-address-edit" class="btn btn-primary" type="button" name="button"
                        model_id="{{ user.id }}">
                    Edit Info
                </button>
            </div>
        </div>
    </div>

    <div class="row px-3 pt-3">
        <div class="col-12">
            <h3> Links</h3>
        </div>
    </div>
    <div id="links" class="px-3"></div>
    <div class="row px-3" id="link-form-div">

    </div>
    <div class="row">
        <button id="btn-add-link" class="btn btn-primary" type="button" name="button">
            Add Link
        </button>
    </div>

    <div class="row px-3 pt-3 align-items-center mx-auto">
        <div class="col-12">
            <h3> Galleries </h3>
        </div>
    </div>
    {% if gallery_list %}
    <div class="col">
      {% for gallery in gallery_list %}
        <div class="row">
          <div class="col">
            <a href="{% url 'photo_app:gallery_view' gallery.id %}">
              {{ gallery.name }}</a>
          </div>
        </div>
      {% endfor %}
    </div>
    {% else %}
      <p>There are no galleries with your photos.</p>
    {% endif %}

    <div class="row px-3 pt-3 align-items-center mx-auto">
        <div class="col-12">
            <h3> Releases </h3>
        </div>
    </div>
    {% if release_list %}
    <div class="col">
        <div class="row">
          <div class="col">
              Name
          </div>
          <div class="col">
              Shoot Date
          </div>
          <div class="col">
              State
          </div>
        </div>
      {% for release in release_list %}
        <div class="row">
          <div class="col">
            <a href="{% url 'photo_app:model_release' release.id %}">
              {{ release.name }}</a>
          </div>
          <div class="col">
              {{ release.shoot_date }}
          </div>
          <div class="col">
              {{ release.state }}
          </div>
        </div>
      {% endfor %}
    </div>
    {% else %}
      <p>There are no galleries with your photos.</p>
    {% endif %}
{% endblock %}