<form id="gallery-form" method="post" action="#" autocomplete="off" class="form">
{% csrf_token %}
    <div class="row">
        <div class="col-2">Gallery Name:</div>
        <div class="col input-group input-group-md">
                <input type="text" placeholder="Name" autocomplete="off" required id="id_name" class="form-control m-2">
        </div>
        <div class="col">Will be public after this date if above checkbox is selected</div>
        <div class="col"></div>
    </div>

<!--    <div class="row">-->
<!--        <div class="col">Model:</div>-->
<!--        <div class="col input-group input-group-md">-->
<!--            {{ form.photo_model }}-->
<!--        </div>-->
<!--    </div>-->

    <div class="row">
        <div class="col-2">Shoot Date:</div>
        <div class="col input-group input-group-md">
            <input type="text" placeholder="Shoot Date YYYY-MM-DD" autocomplete="off" required id="id_shoot_date"
                   class="form-control m-2">
        </div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col input-group input-group-md">
            <div class="custom-control custom-checkbox m-2">
                <input type="checkbox" class="custom-control-input m-2" id="id_is_mature">
                <label class="custom-control-label" for="id_is_mature">This gallery is for mature audiences only</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col input-group input-group-md">
            <div class="custom-control custom-checkbox m-2">
                <input type="checkbox" class="custom-control-input m-2" id="id_is_public">
                <label class="custom-control-label" for="id_is_public">This gallery can be made public</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col input-group input-group-md">
            <div class="custom-control custom-checkbox m-2">
                <input type="checkbox" class="custom-control-input m-2" id="id_is_public">
                <label class="custom-control-label" for="id_is_public">This gallery can be made public</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2">Public Date:</div>
        <div class="col input-group input-group-md">
            <input type="text" placeholder="Public Date YYYY-MM-DD" autocomplete="off" id="id_public_date"
                   class="form-control m-2">
        </div>
        <div class="col">Will be public after this date if above checkbox is selected</div>
        <div class="col"></div>
    </div>

<button id="btn-gallery-form" class="btn btn-primary" type="submit">Update</button>
</form>
