<form id="link-form" method="post" autocomplete="off" action="javascript:void(0);" class="form col" onSubmit="post_link()">
    {% csrf_token %}
    {{ form.id }}
    <div class="d-flex flex-row m-2">
        <div class="col">
            {{ form.category }}
        </div>

        <div class="col mx-auto">
            {{ form.url }}
        </div>

        <div class="col">
            <button id="btn-link-form" class="btn btn-primary m-2" type="submit">Submit</button>
        </div>
    </div>
</form>
