<form id="profile-form" method="post" autocomplete="off" class="form">
{% csrf_token %}
    <div class="row">
        <div class="input-group input-group-md">
            <div class="col-6">
                {{ form.first_name.label }}
                {{ form.first_name }}
            </div>
            <div class="col-6">
                {{ form.last_name.label }}
                {{ form.last_name }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 input-group input-group-md">
            {{ form.street.label }}
            {{ form.street }}
        </div>
    </div>

    <div class="row">
        <div class="input-group input-group-md">
            <div class="col-4">
                {{ form.city.label }}
                {{ form.city }}
            </div>
            <div class="col-4">
                {{ form.state.label }}
                {{ form.state }}
            </div>
            <div class="col-4">
                {{ form.post_code.label }} {{ form.post_code }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 input-group input-group-md">
            {{ form.phone.label }} {{ form.phone }}
        </div>
    </div>
    <div class="row input-group input-group-md">
            {{ form.dob.label }} {{ form.dob }}
    </div>
    <div class="row input-group input-group-md">
            <div class="custom-checkbox m-2">
                {{ form.is_model }}
            </div>
            <div class="p-2">{{ form.is_model.label }}</div>
    </div>
    <div class="row d-flex flex-row input-group input-group-md">

            {{ form.nickname.label }}
            {{ form.nickname }}
            <div class="m-2">Optional, this is the name that can be associated with your photos.</div>

    </div>
<button id="btn-family-form" class="btn btn-primary" type="submit">Update</button>
</form>
