<nav class="navbar navbar-dark bg-dark border">
    <a class="navbar-brand" href="/"> <span class="blue">Photo Gallery</span></a>

    <div class="navbar-expand-sm" id="navbar">
        <ul class="navbar-nav ml-auto mt-2">
            {% if user.is_authenticated %}

                {% if user.is_staff %}
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownStaff" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Staff Links
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <div class="dropdown-divider"></div>

                      </div>
                    </li>
                {% endif %}
                {% if user.is_photographer %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'photo:release_template' %}">Model Release</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'photo:profile' %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'photo:index' %}">Galleries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                </li>


            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'photo:index' %}">Galleries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_signup' %}">Join</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
